# dslab-tool
./dslab-tool

# Compiled object files
*.o
*.ko
*.obj
*.elf

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Log files
*.log

# Temporary files
*.swp
*.swo
*.tmp
*.bak

# IDE-specific files and directories
.idea/
.vscode/
*.iml

# Configuration files with sensitive information
config.ini
secrets.yml
